*{
    width: 400px;
    margin: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.item {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    background-color: rgb(221, 221, 221);
}

.box{
    font-weight: bold;
}

.boton {
    padding: 5px 10px; 
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    width: 80px;
}




